
<!-- <script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("menu");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script> -->
<!-- 
  spotify: https://open.spotify.com/artist/5hZaBQ8ZT0lezPvu3Yzb5w
  facebook: https://www.facebook.com/lizahessmusic/
  instagram: https://www.instagram.com/liza_hess_music/

  This is IT!
  spodify: https://open.spotify.com/album/5F0aucdm4SV672lYBPsFYQ
  apple: https://music.apple.com/us/album/this-is-it/1447017956?ign-mpt=uo%3D4
  google play: https://play.google.com/store/music/album/Liza_Hess_This_Is_It?id=Bjnv3i3gytcijq4chlp56iflmxe
-->

<router-outlet></router-outlet>

<!-- Landing image -->
<div id="start-header">
  <img src="assets/images/header.jpg"/>
</div>

<!-- Toolbar Menu -->
<div id="menu" class="toolbar sticky" role="banner">
  <span id="logo">LIZA HESS MUSIC</span>
  <div class="spacer"></div>
  <div id="menu-link-block">
    <a href="#new" class="menu-link"><span>New</span></a>
    <a href="#about" class="menu-link"><span>About</span></a>
    <a href="#listen" class="menu-link"><span>Listen</span></a>
  </div>
</div>


<!-- Comming Up !-->
<div id="new">
  <h1 style="font-family:fantasy; text-align: center; margin-top: 30px; margin-bottom: 30px">Check out the New Single!</h1>
  <div class="img-container" style="margin-left: auto; margin-right: auto; display: block; max-width: 400px;"><img src="assets/images/cute-single-cover.jpeg" height="400px" /></div>
</div>

<!-- About -->
<div id="about">
  <div class="img-container"><img src="assets/images/about.jpg" /></div>
    <!-- <div style="display: block; margin-left: auto; margin-right: auto; width: 60%; text-align: center;">
    <a href="https://open.spotify.com/artist/5hZaBQ8ZT0lezPvu3Yzb5w"><img src="assets/images/icons/spotify-logo.png" height="50px"/></a>
    <a href="https://www.instagram.com/liza_hess_music/"><img src="assets/images/icons/ig-logo.png" height="50px"/></a>
    <a href="https://www.facebook.com/lizahessmusic/"><img src="assets/images/icons/facebook-logo.png" height="50px"/></a>
  </div> -->
  <div class="text-container">   
    <p> A singer-songwriter currently living in Los Angeles, California. 
      In the early 2000’s, while listening to the Dixie Chicks in the car, three little voices ages 8 and 6 were singing along to "Ready to Run". Of all these little voices, one stood out amongst the rest. Wailing her little heart out, Liza Hess' vocal talent was
      discovered! After begging for guitar lessons, her parents amused the idea of a 10 year old starting what is now her passion. Drawing musical styles from Sara Barellies, Norah Jones, Colbie Callait, Chelsea Williams, Florence and the Machine, and Bon Iver, Liza
      Hess has created a unique sound that sends listeners on an unforgettable adventure.</p>
  </div>
</div>

<!-- Listen -->
<div id="listen">
  <!-- <a href="https://distrokid.com/hyperfollow/lizahess/fSDH"><button> Available for streaming!</button></a> -->
  <iframe src="https://open.spotify.com/embed/album/5F0aucdm4SV672lYBPsFYQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>


<!-- Footer -->
<div class="footer">
  <span class="left">2020 @ LIZA HESS MUSIC </span>
  <span class="right">powered by RunningOutOfTime </span>
</div>
